li {
    list-style: none;
}
.transfer{
    display: flex;
}
.moveButton{
    margin-top: 200px;
}

.pageLeft{
    cursor: pointer;
    /* margin-top: 400px; */
}

.paginationInput{
    width: 30px;
}

.pagination{
    display: flex;
    height: 30px;
    /* margin-top: 400px; */
}
.pageSubtract{
    cursor: pointer;
}
.pagePlus{
    cursor: pointer;
}

ul{
    padding: 0;
}